.search {
    width: 25vw;
    margin:auto;
}

.searchInputs {
    margin-top: 105px;
    display: flex;
}

.search input{
    background-color: black;
    border: 0;
    border-radius:2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
    padding: 15px;
    height: 60px;
    width: 300px;
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: black;
    display: grid;
    place-items: center;
}
.links {
    display: flex;
    flex-direction: row;
    align-items:space-between;
    padding:10px;

}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}

.dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y:auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.dataImg {
    height: 45px;
    padding: 5px;
}
.data {
    display: flex;
    flex-direction: row;
}
.dataInfo {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 6px;
}
.dataItem p {
    margin-left: 10px;
}

a {
    box-shadow: inset 0 0 0 0 white;
    color: grey;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

  a:hover {
    box-shadow: inset 100px 0 0 0 grey;
    color: white;
  }

#clearBtn {
    cursor: pointer;
}